<app-legal-page-layout pageTitle="LEGAL.PRIVACY_TITLE">
  <p>{{ 'LEGAL.PRIVACY.INTRO' | translate }}</p>

  <h2>{{ 'LEGAL.PRIVACY.S1_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.PRIVACY.S1_BODY' | translate }}</p>

  <h2>{{ 'LEGAL.PRIVACY.S2_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.PRIVACY.S2_BODY' | translate }}</p>
  <ul>
    <li>{{ 'LEGAL.PRIVACY.S2_ITEM_1' | translate }}</li>
    <li>{{ 'LEGAL.PRIVACY.S2_ITEM_2' | translate }}</li>
    <li>{{ 'LEGAL.PRIVACY.S2_ITEM_3' | translate }}</li>
    <li>{{ 'LEGAL.PRIVACY.S2_ITEM_4' | translate }}</li>
  </ul>

  <h2>{{ 'LEGAL.PRIVACY.S3_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.PRIVACY.S3_BODY' | translate }}</p>
  <ul>
    <li>{{ 'LEGAL.PRIVACY.S3_ITEM_1' | translate }}</li>
    <li>{{ 'LEGAL.PRIVACY.S3_ITEM_2' | translate }}</li>
    <li>{{ 'LEGAL.PRIVACY.S3_ITEM_3' | translate }}</li>
  </ul>

  <h2>{{ 'LEGAL.PRIVACY.S3B_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.PRIVACY.S3B_BODY' | translate }}</p>

  <h2>{{ 'LEGAL.PRIVACY.S4_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.PRIVACY.S4_BODY' | translate }}</p>

  <h2>{{ 'LEGAL.PRIVACY.S5_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.PRIVACY.S5_BODY' | translate }}</p>

  <h2>{{ 'LEGAL.PRIVACY.S6_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.PRIVACY.S6_BODY' | translate }}</p>

  <h2>{{ 'LEGAL.PRIVACY.S7_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.PRIVACY.S7_BODY' | translate }}</p>
</app-legal-page-layout>
