<app-legal-page-layout pageTitle="LEGAL.TERMS_TITLE">
  <p>{{ 'LEGAL.TERMS.INTRO' | translate }}</p>

  <h2>{{ 'LEGAL.TERMS.S1_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.TERMS.S1_BODY' | translate }}</p>

  <h2>{{ 'LEGAL.TERMS.S2_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.TERMS.S2_BODY' | translate }}</p>

  <h2>{{ 'LEGAL.TERMS.S3_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.TERMS.S3_BODY' | translate }}</p>

  <h2>{{ 'LEGAL.TERMS.S4_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.TERMS.S4_BODY' | translate }}</p>

  <h2>{{ 'LEGAL.TERMS.S5_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.TERMS.S5_BODY' | translate }}</p>

  <h2>{{ 'LEGAL.TERMS.S6_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.TERMS.S6_BODY' | translate }}</p>

  <h2>{{ 'LEGAL.TERMS.S7_TITLE' | translate }}</h2>
  <p>{{ 'LEGAL.TERMS.S7_BODY' | translate }}</p>
</app-legal-page-layout>
